section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px; }
  section .title {
    color: #00496F;
    text-align: left;
    padding: 10px;
    font-size: 55px;
    -webkit-text-stroke: 3px #00496F;
    font-weight: 500;
    font-family: 'Cinzel', serif; }

h1 {
  font-family: 'Satisfy', cursive; }

p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
  color: #252525;
  letter-spacing: 1px;
  line-height: 27px; }

.x {
  display: none; }

.navbar-brand {
  font-size: 30px; }

/*opaque nav*/
.opaque-navbar {
  background-color: transparent;
  transition: background-color .10s ease 10s; }

.opaque-navbar.opaque {
  background: black;
  height: 80px;
  transition: background-color .5s ease 0s;
  margin: 0px;
  padding: 0px;
  transition: all 0.5s ease; }

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    color: white; }

  .opaque-navbar {
    background: black;
    height: 60px;
    transition: background-color .5s ease 0s; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: black;
    opacity: 0.8; }

  .opaque-navbar .navbar-nav > li > a {
    color: white; } }
.loaded article {
  opacity: 1; }

article {
  opacity: 0;
  /*El valor inicial de la opacidad del contenedor es 0, por medio de javascript haremos que aparezca al asignarle la clase .loaded_section*/
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }
  article h2 {
    font-family: 'Satisfy', cursive;
    opacity: 1;
    position: relative;
    z-index: 50;
    color: white;
    font-size: 95px;
    -webkit-text-stroke: 1px  white; }

.loading {
  background: url("../wheel.gif") no-repeat center 280px;
  background-size: 100px; }

.pd-20 {
  padding-top: 200px; }

.hero {
  position: relative;
  width: 100%;
  height: 667px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../codigo.gif") no-repeat 0% 0% fixed;
  background-size: cover; }
  .hero h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold; }
  .hero.fadeout .optional-rainbow {
    display: block; }
  .hero.fadeout:before {
    display: none; }
  .hero:before {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    content: "";
    opacity: 0.1; }

/*nav*/
#sobre_mi {
  padding-bottom: 160px; }
  #sobre_mi .biografia {
    padding: 50px; }

#sobre_mi img {
  box-shadow: 14px 15px 23px black;
  width: 50%; }

#bkg-medio {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("../captura-atom.png");
  background-repeat: repeat;
  height: 200px;
  background-attachment: fixed; }

#portfolio img {
  width: 100%;
  box-shadow: 4px 5px 8px  #252525; }

/*MIXIN NAV*/
.navbar-default {
  border: none;
  font-size: 14px;
  padding: 4px;
  transition: all 1s ease;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: transparent;
  color: transparent; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav .active > a {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: transparent;
  color: white; }

.navbar-default .navbar-nav > li > a {
  font-weight: normal;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: transparent;
  color: white; }

.navbar-default .navbar-nav > li > a:hover {
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: transparent;
  color: #42BEA7; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: #00496F;
  color: white; }

.navbar-default .navbar-toggle:hover {
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  background-color: #42BEA7;
  color: transparent; }

#skills img {
  width: 100%;
  height: 250px; }
#skills .cajaskill {
  padding: 80px; }

.titlee {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: #db3a34; }

.lnr {
  font-size: 30px; }

.navbar-nav > li {
  float: left;
  margin-left: 124px; }

#contactame {
  /*background-color: black;
  background-image:linear-gradient(rgba(0, 0, 0, -0.4), rgba(0, 0, 0, 0.5)), url("../job.png");*/ }
  #contactame i {
    color: #252525;
    font-size: 140px; }
  #contactame i:hover {
    color: #00496F; }
  #contactame .iconmin {
    padding-top: 20px;
    text-align: center;
    font-size: 70px; }

@media (min-width: 768px) {
  .navbar-right {
    float: none !important;
    margin-right: 0px !important;
    padding: 7px; } }
@media screen and (max-width: 1200px) {
  article h2 {
    font-size: 50px; }

  section .title {
    font-size: 45px; }

  .navbar-nav > li {
    margin-left: 50px; }

  .hero {
    position: relative;
    width: 100%;
    height: 667px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../bgmovil.jpg") no-repeat 0% 0% fixed;
    background-size: cover; }

  .pd-20 {
    padding-top: 111px; } }
.ih-item.square.effect13.colored .info {
  background: #00496F; }

footer {
  background-color: #252525;
  padding: 20px; }
  footer p {
    color: white;
    font-size: 15px; }

.ih-item.square {
  position: relative;
  width: 100%;
  height: 170px;
  border: none;
  box-shadow: none;
  padding: 0px; }

#frase {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../line.gif") no-repeat 0% 0% fixed;
  background-size: cover;
  color: white; }

.navbar {
  border: none;
  margin-bottom: 8px; }

.navbar-brand img {
  width: 100%; }

span {
  font-size: 20px;
  font-family: 'Cinzel', serif; }

.logos {
  padding: 60px; }

/*# sourceMappingURL=main.css.map */
