section{
    text-align: center;
    padding: 100px;
    .title{
        font-size: 60px;
        -webkit-text-stroke: 1px #252525;
        font-weight: 500;
    }
}
h1{
    font-family: 'Satisfy', cursive;
}
p{
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    color: #252525;
    letter-spacing: 1px;
    line-height: 27px;
}
.navbar-brand{
    font-size: 30px;
}
/*opaque nav*/
.opaque-navbar {
    background-color: transparent;
    transition: background-color .10s ease 10s;
}
.opaque-navbar.opaque {
    background-color:#252525;
    height: 80px;
    transition: background-color .5s ease 0s;
    margin:0px;
    padding:0px;
    transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .opaque-navbar {
    background-color: #252525;
    height: 60px;
    transition: background-color .5s ease 0s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #252525;
    background-color: #252525;
    opacity: 0.8;
}
}


.loaded article {
    opacity: 1;
}
article{
    opacity: 0; /*El valor inicial de la opacidad del contenedor es 0, por medio de javascript haremos que aparezca al asignarle la clase .loaded_section*/
    -webkit-transition:opacity 2s;
    -moz-transition:opacity 2s;
    -o-transition:opacity 2s;
    transition: opacity 2s;
    h2{
      font-family: 'Francois One', sans-serif;
      opacity: 1;
      position: relative;
      z-index: 50;
      color: #FC484E;
      font-size: 75px;
      -webkit-text-stroke: 1px #252525;}
}
.loading {
    background: url('../wheel.gif') no-repeat center 280px;
    background-size: 100px;
}
.pd-20{
    padding-top:150px;
}
.hero{
  font-family: 'Sahitya', serif;
  position:relative;
  width:100%;
  height:667px;
  background:url('../frontend-developer.jpg') no-repeat 0% 0% fixed;
  background-size:cover;

   h4{
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    color:white;
    font-weight: bold;
}
 &.fadeout{
   .optional-rainbow{
     display:block;
   }
   &:before{
   display:none;
   }
 }

 &:before{
   display:block;
   position:absolute;
   height:100%;
   width:100%;
   z-index:5;
   content:"";
   background: linear-gradient(#DE8960, black, #FC484E);
    opacity: 0.1;
 }
}
/*nav*/
#sobre_mi{
  background:url('../symphony.png');
  background-attachment: fixed;
  .biografia{
      padding: 50px;
  }
}
#sobre_mi img{
    box-shadow:4px 5px 8px  #252525;
    width: 280px;
    height: 280px;
}
#bkg-medio{

    background-image:linear-gradient(rgba(0, 0, 0, -0.4), rgba(0, 0, 0, 0.5)), url("../captura-atom.png");
    background-repeat:repeat;
    height: 200px;
    background-attachment: fixed;

}
#portfolio{img{
    width: 100%;
}}

/*MIXIN NAV*/
@mixin navbar_mixin($background-color, $color) {
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
    background-color: $background-color;
    color: $color;
}
.navbar-default {
    border:none;
    font-size: 14px;
    margin: 40px;
    padding: 4px;
    transition: all 1s ease;
    @include navbar_mixin(#252525,transparent);
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav .active > a{
    font-family: 'Satisfy', cursive;
@include navbar_mixin(transparent , white);}
.navbar-default .navbar-nav > li > a {
    font-weight: normal;
    letter-spacing:2px;
    @include navbar_mixin(transparent ,white);
}
.navbar-default .navbar-nav > li > a:hover {

    @include navbar_mixin(transparent ,#FC484E);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    border-radius: 3px;

    @include navbar_mixin(#FC484E,white);
}
.navbar-default .navbar-toggle:hover{
    @include navbar_mixin(#FC484E,transparent);
}
#skills{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    .cajaskill{
        padding: 20px;
    }

    img{
        width: 100%;
    }
    .caja{
        margin: 10px;
        background-color: ghostwhite;
        padding: 25px;
        border-radius: 12px;
        
    }
}
.titlee {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: #db3a34;
}

.bar {
  width: 90%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: #db3a34;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "sans-serif";
}

.lnr {
    font-size: 30px;}
.navbar-nav>li {
        float: left;
        margin-left: 136px;
    }
@media (min-width: 768px){
    .navbar-right{
        float:none !important;
        margin-right: 0px !important;
        padding: 7px;
    }}
