doctype html
html
    head
        tittle
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css')
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(rel="stylesheet" href="css/main.css")
    body(class='loading')
        header
            // Fixed navbar
            .navbar.navbar-default.navbar-fixed-top.opaque-navbar(role='navegacion')
              .container
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand() Carmenrosa Arias
                .navbar-collapse.collapse
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#sobre_mi') SOBRE MÍ
                    li
                      a(href='#portf') PORTFOLIO
                    li
                      a(href='#about') ABOUT
                    li
                        a(href='#ourteam') TEAM
                    li
                        a(href='#contact') CONTACT
        article.hero.vertical-center
            .container.text-center.pd-20
                h1 PROFESIONAL INNOVADORA EN DESARROLLO TECNOLÓGICO
                h4 Front-end Developer
        section(id='sobre_mi')
            .container
                h1 CARMENROSA ARIAS ARIAS
                .row 
                    img(src='B612_20160508_135856.jpg' class='img-circle')
                    h3 Sobre mí
        section(id='sobre_mi')
            .container
                h1 CARMENROSA ARIAS ARIAS
                .row 
                    img(src='B612_20160508_135856.jpg' class='img-circle')
                    h3 Sobre mí
        section(id='sobre_mi')
            .container
                h1 CARMENROSA ARIAS ARIAS
                .row 
                    img(src='B612_20160508_135856.jpg' class='img-circle')
                    h3 Sobre mí
        
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") 
        script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
        script(src="js/bootstrap.min.js")
        script(src="js/main.js")
