doctype html
html
	head
		tittle
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")
		script(src="js/wow.min.js")
		mixin skill(name , porcentaje , data)
			.bar-1
				.titlee
					p= name
				.bar(data-width=data)
					.bar-inner
					.bar-percent
						p= porcentaje
	body(class='loading')
		header
			// Fixed navbar
			.navbar.navbar-default.navbar-fixed-top.opaque-navbar(role='navegacion')
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand()
					.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right.navL
							li
								a(href='#sobre_mi') SOBRE MÍ
							li
								a(href='#skills') HABILIDADES
							li
								a(href='#portfolio') PORTAFOLIO
							li
								a(href='#ourteam') TEAM
							li
								a(href='#contact') CONTACT
		
		article.hero.vertical-center
			.container.text-center.pd-20
				h2 CARMENROSA ARIAS
				h4 Front-end Developer
		section(id='sobre_mi')
			.container
				.row 
					h1.title Sobre mí
					.col-lg-6
						img(src="perfil.jpg" class="img-circle wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="600ms")
					div(class='col-lg-6 biografia wow fadeInRight' data-wow-duration="600ms" data-wow-delay="600ms")
						p Hola!!! mi nombre es Carmenrosa, tengo 20 años y soy desarrolladora Front-end. Además estudio Ingeniería de Sistemas. Soy una joven innovadora y con capacidades de hacer Diseño Web Responsivo, conocimientos en Gestión de Proyectos y Metodologías Ágiles. 
		section(id='bkg-medio')
		section(id='skills')
			.container
				.row
					h1.title Mis Habilidades
					.col-lg-4(class="wow_imgage wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;")
						.row
							.col-lg-6
								img(src="HTML5.png")
							.col-lg-6
								+skill("HTML5","90%","90%") 
					.col-lg-4(class="wow_imgage wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;")
						.row
							.col-lg-6
								img(src="HTML5.png")
							.col-lg-6
								+skill("CSS3","90%","90%")
					.col-lg-4(class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;")
						.row
							.col-lg-6
								img(src="HTML5.png")
							.col-lg-6
								+skill("JAVASCRIPT","65%","65%")
				.row
					h1.title Contáctame
					.col-lg-4
						img(src="HTML5.png")
						
					.col-lg-4
						img(src="HTML5.png")
				
					.col-lg-4
						img(src="HTML5.png")
						
		
		section(id='portfolio')
			.container
								.row
									h1.title Mis Trabajos
									.col-lg-4
										a(href="")
											img(src="portafolio/agency.PNG")
									.col-lg-4
										a(href="")
											img(src="portafolio/loveBlog.PNG")
									.col-lg-4
									.col-lg-3
										
		section(id='contactame')
			.container
								.row
									h1.title Mis Trabajos
									.col-lg-3 
										
									.col-lg-3
										
									.col-lg-3
									
									.col-lg-3
									
									
		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
