doctype html
html
	head
		tittle 
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		link(rel='stylesheet' href='font-awesome/css/font-awesome.min.css')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css')

		link(href="css/ihover.min.css" rel="stylesheet")
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
		script(src="js/wow.min.js")
		mixin skill(name , porcentaje , data)
			.bar-1
				.titlee
					p= name
				.bar(data-width=data)
					.bar-inner
					.bar-percent
						p= porcentaje
	body(class='loading')
		header
			// Fixed navbar
			.navbar.navbar-default.navbar-fixed-top.opaque-navbar.x(role='navegacion')
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand
					.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right.navL
							li
								a(href='index.html')
									span(class="lnr lnr-home")
							li
								a(href='#sobre_mi')
									span(class="lnr lnr-user")
							li
								a(href='#skills') 
									span(class="lnr lnr-magic-wand")
							li
								a(href='#portfolio') 
									span(class="lnr lnr-briefcase")
							li
								a(href='#contactame')
									span(class="lnr lnr-envelope")
		
		article.hero.vertical-center
			.container.text-center.pd-20
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						a(href='')
						h4 Bienvenido a mi portafolio, me llamo 
						h2 Carmenrosa Arias
						h4 Front-end Developer y Estudiante de Ingeniería de Sistemas 
		section(id='sobre_mi')
			.container
				.row 
					h1.title Sobre mí
					div(class='col-lg-6 col-md-6 col-sm-12 col-xs-12 biografia wow fadeInRight' data-wow-duration="600ms" data-wow-delay="600ms")
						p Hola!!! mi nombre es Carmenrosa, tengo 20 años y soy desarrolladora Front-end. Además, estudio Ingeniería de Sistemas en la Universidad Nacional del Callao. Soy una joven innovadora, autodidácta, con conocimientos en Gestión de Proyectos y Metodologías Ágiles. Me apasiona el mundo tecnológico, los números y la música. Mi experiencia de trabajo en equipo ha permitido mi desarrollo personal y profesional, contáctame a través de mis redes sociales.  
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						img(src="perfil.jpg" class=" wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="600ms")
		section(id='frase' class="text-center")
			h2 "Si buscas resultados distintos, no hagas siempre lo mismo"
			p - Albert Einstein
		section(id='skills')
			.container
				h1.title Mis Habilidades
				.row
					h3 Herramientas Front End
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.logos
						img(src="logos/html5.png")
						h4 HTML5
						p Estructura el contenido de tu sitio web
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.logos
						img(src="logos/css3.png")
						h4 CSS3
						p Incorpora estilos y mejora la presentación de tu sitio
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.logos
						img(src="logos/js.png")
						h4 Javascript
						p Da mayor dinamismo e interactividad a tu sitio 
						
				.row
					h3 Responsive Web Design
					.col-lg-7.col-md-7.col-sm-7.col-xs-12		
						p(class="responsive") Hacer que tus sitios web se adapten a todos los dispositivos. Los sitios web responsivos facilitan la lectura y navegacion, reduciendo los inconvenientes generados por los cambios en tamaño,paneo y desplazamiento
					.col-lg-5.col-md-5.col-sm-5.col-xs-12
						img(src="responsive.png")
				.row
					h3 Preprocesadores
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.logos
						img(src="logos/sass.png")
						p Me permite tener un código más sencillo de mantener y editar.Además,me permite crear variados archivos de CSS bajo el formato de .scss y luego compilarlos todos en un solo css.
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.logos
						img(src="logos/jade.png")
						p Me permite trabajar de manera ordenada y sencilla,utilizando mixins,bucles,en archivos separados .jade y compilar todos en un solo index final.
				.row
					h3 Relaciones interpersonales
					.col-lg-7.col-md-7.col-sm-7.col-xs-12.logos
						p Habilidad para el trabajo en equipo. En Laboratoria desarrollamos, reforzamos y pusimos en práctica habilidades personales y profesionales. El trabajar juntas en proyectos, permitió el manejar situaciones complicadas, manejar el estrés y resolver conflictos de manera adecuada. 
					.col-lg-5.col-md-5.col-sm-5.col-xs-12.logos
						img(src="equipo.jpg")				
		section(id='bkg-medio')								

		section(id='portfolio')
			.container
				h1.title Portafolio
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
							.ih-item.square.colored.effect13.left_to_right
								a(href="http://carmenrosacoder.github.io/Agency_theme/")
									.img
										img(src="portafolio/agency.PNG")
									.info
										h3 Agency Theme
										p Proyecto con Jade y Sass aplicando todas las herramientas 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12				
						.ih-item.square.colored.effect13.left_to_right
							a(href="http://carmenrosacoder.github.io/backyard/Problema/app.html")
								.img
									img(src="portafolio/backyard.png")
								.info
									h3 Backyard
									p Empezando a usar Sass
					.col-lg-4.col-md-4.col-sm-4.col-xs-12				
						.ih-item.square.colored.effect13.left_to_right
							a(href="http://carmenrosacoder.github.io/flattheme/Problema/blog.html")
								.img
									img(src="portafolio/flat.png")
								.info
									h3 Flat theme
									p Trabajo grupal
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.ih-item.square.colored.effect13.left_to_right
							a(href="http://carmenrosacoder.github.io/love_blog/Problema/home.html")
								.img
									img(src="portafolio/loveBlog.PNG")
								.info
									h3 LoveBlog
									p Estructurar un proyecto con Sass 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12			
						.ih-item.square.colored.effect13.left_to_right
							a(href="")
								.img
									img(src="portafolio/portafolio.png")
								.info
									h3 Portafolio
									p Portafolio 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12				
						.ih-item.square.colored.effect13.left_to_right
							a(href="http://carmenrosacoder.github.io/user-testing/problema/index.html")
								.img
									img(src="portafolio/usertesting.PNG")
								.info
									h3 User Testing
									p Ejercicio aplicando media queries		
				hr						
										
		section(id='contactame')
			.container
								.row
									h1.title Contáctame
									.col-lg-4.col-md-4.col-sm-4.col-xs-12
										a(href="https://www.linkedin.com/in/carmenrosa-arias-laboratoria?trk=nav_responsive_tab_profile_pic") 
											i.fa.fa-linkedin-square
									.col-lg-4.col-md-4.col-sm-4.col-xs-12
										a(href="https://github.com/Carmenrosacoder")
											i.fa.fa-github
									.col-lg-4.col-md-4.col-sm-4.col-xs-12
										a(href="https://plus.google.com/u/0/101799282732826848314/about/p/pub?hl=es")
											i.fa.fa-google-plus-square
									
								.row
									p ¿Listo para empezar tu siguiente proyecto? ¿Te gusta lo que has visto? ¡Genial! Dame una llamada o envíame un correo y te responderé lo más rápido que pueda.
									.col-lg-6.col-md-6.col-sm-6.col-xs-6
										i.fa.fa-phone.iconmin
										p 963111419
									.col-lg-6.col-md-6.col-sm-6.col-xs-6
										i.fa.fa-envelope-o.iconmin
										p parias2970@gmail.com
									
		footer
			p.text-center Página diseñada y desarrollada por CARMENROSA ARIAS/LABORATORIA
		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
