*{
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding-left: 55px;
    padding-right: 55px;
}
h1{
    text-transform: uppercase;
    color: white;
}
h5{
    font-weight: bold;
}
p{
    font-family: 'Roboto Slab', serif;
}
section,footer{
    text-align: center;
    padding: 100px 0px;
}
.btn_yellow{
    color: white;
    background-color: #FED136;
    padding: 17px 32px;
    text-transform: uppercase;
}
.border{
    border-radius: 3px;
}
/*services*/
.fa{
    font-size: 39px;
color: white;
background-color:#FED136;
padding: 20px;
}
/*portfolio*/
#portf{
    background-color: #F7F7F7;
    img{
        background-color: white;
        padding-bottom: 90px;
        width: 100%;
        margin-bottom: 30px;
    }
    .mg_t{
        margin-top: -110px;
    }
}
/*about*/
#about{
img{
    background-color: #F0F0ED;
    padding: 10px;
}
}
/*our team*/
#ourteam{
    background-color: #F7F7F7;
    img{
        background-color: white;
        padding: 10px;
    }
    .team{
        padding-bottom: 35px;
    }
}
.redes{
    font-size: 17px;
    color:white;
    background-color:black;
    padding: 11px;
}
.fa-facebook{
    margin-left: 10px;
    margin-right: 10px;
}
#logos{
    padding: 30px;
}

/*TIMELINE*/
@import "https://fonts.googleapis.com/css?family=Montserrat";

// Variables
$bg-body: #f9f9f9;
$red: #ee4d4d;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;

// Typography
$base-font: 'Montserrat', sans-serif;;
$base-font-title: 'Montserrat', sans-serif;;

$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}
@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
img {max-width: 100%;}
a {
	text-decoration: none;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
// Timeline
#timeline {
	width: 100%;
  margin: 30px auto;
	position: relative;
  padding: 0 10px;
	@include prefix(transition, all .4s ease);
	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: #F1F1F1;
		left: 50%;
		top: 0;
		position: absolute;
	}
	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	.timeline-item {
		margin-bottom: 110px;
		position: relative;
		@extend %clearfix;
		.timeline-icon {
			width: 140px;
			height: 140px;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			margin-left: -70px;
            margin-top: 20px;
			@include prefix(border-radius, 50%);
		}
		.timeline-content {
			width: 45%;
			padding: 20px 40px;
			&.right {
				float: right;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0px;
    width: 90%;
		&:before {
			left: 0;
		}
		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;
                p , h5{
                    text-align: left;
                }
				&:before, &.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}
			.timeline-icon {
				left: 0;
                margin-left: -45px;
        		width: 100px;
        		height: 100px;
}
		}
	}
}
a:hover{
    background-color: black;
    color: white;
}
