//--------------------
//   PALETA COLORES
//--------------------
$texto: black;
$texto2: white;
$principal: #ff637d;
$secundario:#66d7d1;
$tercero:#eaf2e3;
$color_form: #fff87f;

// BREAKPOINT
$width-small: "screen and (min-width: 576px)";
